.container {
  cursor: pointer;

  background-color: var(--color-secondary);
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-xs);
  border-radius: var(--radius-sm);
  color: black;

  font-size: var(--font-size-xs);

  &:hover {
    background-color: var(--color-primary);
    color: white;
  }
}
